@model BW_VI___Team_1.Models.DTO.ProductDTO

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Aggiungi un prodotto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label">Tipo</label>
                <select asp-for="Type" class="form-control" id="productType">
                    @foreach (var type in ViewBag.ProductTypes as List<string>)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div id="lockerFields" style="display:none;">
                <div class="form-group">
                    <label asp-for="Locker.Number" class="control-label">Armadietto</label>
                    <select asp-for="Locker.Number" class="form-control">
                        @foreach (var locker in ViewBag.Lockers as List<BW_VI___Team_1.Models.Locker>)
                        {
                            <option value="@locker.Number">@locker.Number</option>
                        }
                    </select>
                    <span asp-validation-for="Locker.Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DrawerId" class="control-label">Cassetto</label>
                    <select asp-for="DrawerId" class="form-control">
                        @foreach (var drawer in ViewBag.Drawers as List<BW_VI___Team_1.Models.Drawer>)
                        {
                            <option value="@drawer.Id">@drawer.Number</option>
                        }
                    </select>
                    <span asp-validation-for="DrawerId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="Usages">Uso</label>
                <select id="Usages" name="Usages" class="form-control" multiple>
                    @foreach (var usage in ViewBag.Usages as List<Usage>)
                    {
                        <option value="@usage.Id">@usage.Description</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Suppliers">Fornitore</label>
                <select id="Suppliers" name="Suppliers" class="form-control" multiple>
                    @foreach (var supplier in ViewBag.Suppliers as List<Supplier>)
                    {
                        <option value="@supplier.Id">@supplier.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Indietro</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var productTypeSelect = document.getElementById('productType');
            var lockerFields = document.getElementById('lockerFields');

            function toggleLockerFields() {
                if (productTypeSelect.value === 'Medicine') {
                    lockerFields.style.display = 'block';
                } else {
                    lockerFields.style.display = 'none';
                }
            }

            toggleLockerFields();
            productTypeSelect.addEventListener('change', toggleLockerFields);
        });
    </script>
}
