@model BW_VI___Team_1.Models.Product

@{
    ViewData["Title"] = "UpdateProduct";
}
<div class="edit border border-1 rounded-1 my-3">
    <h1 class="text-white text-center">Modifica Prodotto</h1>

    <h4 class="text-white text-center">Prodotto</h4>
    <hr class="text-light" />
<div class="row">
        <div class="col-md-4 ColorNavbar container border border-2 rounded-3  text-white mb-4">
        <form asp-action="UpdateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group my-2">
                <label asp-for="Name" class="control-label">Nome Prodotto</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Type" class="control-label">Tipo Prodotto</label>
                <select asp-for="Type" class="form-control" id="productType">
                    @if (ViewBag.ProductTypes != null)
                    {
                        foreach (var type in ViewBag.ProductTypes)
                        {
                            <option value="@type">@type</option>
                        }
                    }
                    else
                    {
                        <option>No types available</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label for="Suppliers">Fornitore</label>
                <select id="Suppliers" name="Suppliers" class="form-control" multiple>
                    @if (ViewBag.Suppliers != null)
                    {
                        foreach (var supplier in ViewBag.Suppliers)
                        {
                            <option value="@supplier.Id">@supplier.Name</option>
                        }
                    }
                    else
                    {
                        <option>No suppliers available</option>
                    }
                </select>
            </div>

            <div class="form-group my-2">
                <label for="Usages">Uso</label>
                <select id="Usages" name="Usages" class="form-control" multiple>
                    @if (ViewBag.Usages != null)
                    {
                        foreach (var usage in ViewBag.Usages)
                        {
                            <option value="@usage.Id">@usage.Description</option>
                        }
                    }
                    else
                    {
                        <option>No usages available</option>
                    }
                </select>
            </div>

            <div class="form-group my-2">
                <label for="LockerId">Armadietto</label>
                <select id="LockerId" name="LockerId" class="form-control">
                    <option value="">Seleziona Locker</option>
                    @if (ViewBag.Lockers != null)
                    {
                        foreach (var locker in ViewBag.Lockers)
                        {
                            <option value="@locker.Id">@locker.Number</option>
                        }
                    }
                    else
                    {
                        <option>No lockers available</option>
                    }
                </select>
            </div>
            <div class="form-group my-2">
    <label for="DrawerId">Cassetto</label>
    <select id="DrawerId" name="DrawerId" class="form-control">
        <option value="">Seleziona Drawer</option>
        @if (ViewBag.Drawers != null)
        {
            foreach (var drawer in ViewBag.Drawers)
            {
                <option value="@drawer.Id">@drawer.Number</option>
            }
        }
        else
        {
            <option>No drawers available</option>
        }
    </select>
</div>

            <div class="form-group my-3">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>
<div>
    <a asp-action="Index" class="text-decoration-none">Torna alla lista</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        document.getElementById('productType').addEventListener('change', function () {
            var lockerFields = document.getElementById('lockerFields');
            if (this.value === 'Medicine') {
                lockerFields.style.display = 'block';
            } else {
                lockerFields.style.display = 'none';
            }
        });
    </script>
}
