@model IEnumerable<BW_VI___Team_1.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddVisit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    <a asp-action="UpdateVisit" asp-route-id="@item.Id">Edit</a> |
                    <form asp-action="DeleteVisit" asp-route-id="@item.Id" method="post" class="d-inline" onsubmit="confirmDelete(event, this);">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        function confirmDelete(event, form) {
            event.preventDefault();
            Swal.fire({
                title: 'Sei sicuro?',
                text: "Non potrai annullare questa operazione!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sì, elimina!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}