@model BW_VI___Team_1.Models.DTO.VisitHistoryDTO

@{
    ViewData["Title"] = "Animal Details";
}

<h1>Dettagli</h1>

<div>
    <h4>Dettagli Animali</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
        <dt class="col-sm-2">
           Specie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Species)
        </dd>
        <dt class="col-sm-2">
           Razza
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Breed)
        </dd>
        <dt class="col-sm-2">
           Colore
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Color)
        </dd>
        <dt class="col-sm-2">
            Data di nascita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Data di registrazione
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.RegisterDate)
        </dd>
        <dt class="col-sm-2">
            Microchip
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Microchip)
        </dd>
        <dt class="col-sm-2">
           Numero Microchip
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.MicrochipNumber)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.ImageUrl)
        </dd>
    </dl>
</div>

<div>
    <h4>Visite</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                   Data
                </th>
                <th>
                   Esame
                </th>
                </th>
                <th>
                    Diagnosi
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Visits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnosis)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Torna Indietro</a>
</div>
