@model IEnumerable<BW_VI___Team_1.Models.Animal>

@{
    ViewData["Title"] = "Index";
}



<div class="table ">
    <section class="table_header"><h1 class="text-center">Registro Animali</h1></section>
    <section class="table_body d-flex align-item-center justify-content-center">
        <table>
            <thead>
                <tr class="text-center">
                    <th>
                       Foto
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Specie
                    </th>
                    <th>
                        Razza
                    </th>
                    <th>
                        Colore
                    </th>
                    <th>
                        Data di nascita
                    </th>
                    <th>
                        Data di registrazione
                    </th>
                    <th>
                       Microchip
                    </th>
                    <th>
                        Numero Microchip
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            <img src="@item.ImageUrl" alt="Animal Image" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Species)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Breed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Microchip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MicrochipNumber)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <form asp-action="UpdateAnimal" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form asp-action="AnimalDetails" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-warning">Details</button>
                                </form>
                                <form asp-action="DeleteAnimal" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>